@page "/summary"
@attribute [Authorize]
<h5 class="pt-5">Total Students : @TotStudents</h5> <br/>

<h5>No. of Blocks Required Currently: @BlocksRequired</h5><br />

<h5>No. of Teachers Required : @BlocksRequired + 2(Sub.)</h5>

<hr style="border: 2px solid black; margin-top:3rem" />

<MudText Typo="@Typo.h6">Details of Examination</MudText>
<MudGrid>
    <MudItem xs="3">
        <MudDatePicker AdditionalDateClassesFunc="@((DateTime dt)=>((int)dt.DayOfWeek == 0 ? "red-text text-accent-4" : ""))" 
                       Label="Select Date of Exam" @bind-Value="@ExamDate" />
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="3" Class="mt-5">
    <MudSelect Variant="Variant.Outlined" Value="@StartSelected">
        <MudSelectItem Value="0" Disabled="true">Choose Start Block</MudSelectItem>
        @foreach (var item in Enumerable.Range(1, BlocksRequired).ToArray())
        {
            <MudSelectItem Value="@item">@item</MudSelectItem>
        }
    </MudSelect>
    </MudItem>
</MudGrid>


@code {
    private int TotStudents = 25*30;
    private int BlocksRequired = 25;
    private DateTime? ExamDate = DateTime.Today;
    private int StartSelected { get; set; }
}
